<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Quotes and Efficiency</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="js/to-do-list.js"></script>
    <link rel="stylesheet" href="css/to-do-list.css">
  </head>
  <body>

    <div class="box" id="heading">

      <% if(parseInt(currentHour) >= 4 && parseInt(currentHour) <= 12){ %>
         <h1>Good morning.
           <br/>
           <p class="headingText">It's <%= kindOfDay %>.
           <br/> The temperature in <%= userLocation %> is <%= temperature %> degrees Celcius.
           <br/> The weather is currently <%= weather %>.
           <br/> <img src = <%= imgURL %> >
           </p>
         </h1>
      <% } else if(parseInt(currentHour) >= 13 && parseInt(currentHour) <= 18){ %>
        <h1>Good afternoon.
          <br/>
          <p class="headingText">It's <%= kindOfDay %>.
          <br/> The temperature in <%= userLocation %> is <%= temperature %> degrees Celcius.
          <br/> The weather is currently <%= weather %>.
          <br/> <img src = <%= imgURL %> >
        </p>
        </h1>
      <% } else { %>
        <h1>Good evening.
          <br/>
          <p class="headingText">It's <%= kindOfDay %>.
          <br/> The temperature in <%= userLocation %> is <%= temperature %> degrees Celcius.
          <br/> The weather is currently <%= weather %>.
          <br/> <img src = <%= imgURL %> >
          </p>
         </h1>
      <% } %>

    </div>

    <div class="box">
      <% for(var i = 0; i < newTasks.length; i++){ %>
        <div class="item">
          <input type="checkbox">
          <p>  <%=newTasks[i]%> </p>
        </div>
      <% } %>

      <form class="item" action="/" method="post">
        <input type="text" name="taskName" placeholder="What's on your list today?" autofocus autocomplete="off" required>
        <button class="itemButton" type="submit" name="button" value="addTask">+</button>
      </form>
    </div>
    <div class="buttonBox">
      <button class="buttons quoteButton" id="flip" type="submit" name="button" value="inspire">Famous Quotes!</button>
      <div id="panel">
        <p id="quotes">
          Breathe. It’s only a bad day, not a bad life.
          <p id="author">- Johnny Depp</p>
        </p>
      </div>
      <form class="buttons" action="/" method="post" target="_blank">
        <button class="quoteButton" type="submit" name="button" value="signup">Sign Me Up For More Famous Quotes!</button>
      </form>
    </div>

  </body>
  <footer>&copy Emily Huang 2020</footer>
</html>
